*{
  background:#1e1e2a;
}

h1{
    font-size: 40px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: linear-gradient(to right, brown, rgb(243, 8, 8),yellow,green);
    -webkit-background-clip:text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    margin-bottom: 5px;
}

p{
    color:gold;
    font-family: fantasy;
    font-weight: 100rem;
    font-size: 20px;
    text-align: center;
        background: linear-gradient(to right, brown, rgb(243, 8, 8),yellow,green);
    -webkit-background-clip:text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
     animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
    


.p{
  margin-left: 90px;
  text-align: center;
}



.nan{
    width: 200px;
    height: 200px;
    animation: rotate 5s linear infinite;
    display: flex;
    align-items: center;
    justify-content:center;
     animation-name: fade 3s linear;
    animation-name: rotate 3s linear ;
   
}

@keyframes fade  {
  from {opacity: .4}
  to {opacity: 1}
}
  @keyframes rotate {
    from {
      transform: rotate(0deg) rotate(0deg);
    }
  
    to {
      transform: rotate(360deg) rotate(360deg);
    }
  }
  

  .loader{
    margin-bottom: 35px;
    margin-top: 200px;
    margin-left: 45%;
  }
  

  

 
